In [32]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [33]:
spark = SparkSession \
        .builder\
        .appName("Python Spark RDD example")\
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

user_name = 'DESKTOP-9KNE9DT\ZAINULABDIN'
password = ''
table_name = 'defense_table'

In [34]:
import pyodbc
database = 'open_api_dev'
conn_str = ("DRIVER={SQL SERVER};"
            "SERVER=DESKTOP-9KNE9DT\SQLEXPRESS;"
            "DATABASE=open_api_dev;"
            "Trusted_Connection=yes;")
#                          PWD={password}')

In [35]:
table  = 'dbo.defense_table'
query = f"SELECT EmployeeID, EmployeeName, Position FROM {table}"

In [37]:
spark.stop()

In [38]:
import findspark
findspark.init()
from pyspark import SparkContext, SparkConf, SQLContext
import pyodbc
import pandas as pd

appName = "PySpark SQL Server Example - via ODBC"
master = "local"
conf = SparkConf() \
    .setAppName(appName) \
    .setMaster(master) 
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
spark = sqlContext.sparkSession

database = "open_api_dev"
table = "dbo.defense_table"
# user = ""
# password  = "zeppelin"

C:\app\spark-3.3.1-bin-hadoop3\python\pyspark\sql\context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [39]:
conn = pyodbc.connect(f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER=DESKTOP-9KNE9DT\SQLEXPRESS;DATABASE={database};Trusted_Connection=yes;') #;UID={user};PWD={password}')
query = f"SELECT * FROM {table}"
pdf = pd.read_sql(query, conn)
sparkDF =  spark.createDataFrame(pdf)
sparkDF.show(5)

C:\Users\ZAINULABDIN\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

+--------------------+--------+---------+------+----------+----------+-------+-----------+---------------+---------------+---------------+---------------+----------+-------------------+-------------+------+-------------+--------------+-------------+---------------------+----------+------+
|              player|position|     team|   age|birth_year|minutes_90|tackles|tackles_won|tackles_def_3rd|tackles_mid_3rd|tackles_att_3rd|dribble_tackles|dribble_vs|dribble_tackles_pct|dribbled_past|blocks|blocked_shots|blocked_passes|interceptions|tackles_interceptions|clearances|errors|
+--------------------+--------+---------+------+----------+----------+-------+-----------+---------------+---------------+---------------+---------------+----------+-------------------+-------------+------+-------------+--------------+-------------+---------------------+----------+------+
|          Aaron Mooy|      MF|Australia|32-083|      1990|       4.0|      9|          6|              4|              4|              1|              6|         8|               75.0|            2|     6|            4|             2|            3|                   12|         9|     0|
|        Aaron Ramsey|      MF|    Wales|31-346|      1990|       3.0|      2|          0|              0|              2|              0|              0|         2|                0.0|            2|     4|            1|             3|            0|                    2|         2|     1|
|   Abdelhamid Sabiri|      MF|  Morocco|26-009|      1996|       1.5|      2|          0|              1|              1|              0|              1|         3|               33.3|            2|     3|            1|             2|            5|                    7|         3|     0|
|   Abdelkarim Hassan|      DF|    Qatar|29-101|      1993|       3.0|      7|          3|              5|              2|              0|              3|         4|               75.0|            1|     3|            1|             2|            1|                    8|         5|     0|
|Abderrazak Hamdallah|      FW|  Morocco|31-355|      1990|       0.5|      0|          0|              0|              0|              0|              0|         1|                0.0|            1|     0|            0|             0|            0|                    0|         2|     0|
+--------------------+--------+---------+------+----------+----------+-------+-----------+---------------+---------------+---------------+---------------+----------+-------------------+-------------+------+-------------+--------------+-------------+---------------------+----------+------+
only showing top 5 rows

In [40]:
from pyspark.mllib.random import RandomRDDs
from pyspark.sql.types import *

random_rdd = RandomRDDs.normalRDD(sc, 1000, seed=1)
stats = random_rdd.stats()
print (stats)
random_rdd.count()


schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)])

d = [{'name': 'Alice', 'age': 10},
     {'name': 'Cooper', 'age': 65}]
rdd = sc.parallelize(d)
    
df = sqlContext.createDataFrame(rdd, schema)
df.registerTempTable("people")

df.collect()
sqlContext.sql('SELECT * FROM people WHERE age < 15').collect()

(count: 1000, mean: -0.014202179548644956, stdev: 1.0482968785387337, max: 3.729526780093798, min: -3.7495238503623205)

C:\app\spark-3.3.1-bin-hadoop3\python\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

[Row(name='Alice', age=10)]