# Initializing Libraries

In [3]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# Initializing Connection

In [22]:
try:
    print("Trying creating PySpark Connection..")
    spark = SparkSession.builder.appName("Spark Example").getOrCreate()
    print("Connection Created Succesfully")
except e:
    print("Error Occured During Connection")

df = spark.sql("Select 'spark' as hello")
df.show()

Trying creating PySpark Connection..
Connection Created Succesfully
+-----+
|hello|
+-----+
|spark|
+-----+

In [23]:
data = spark.sparkContext.parallelize([(1, 2, 3, 'a'),(4, 5, 6, 'd'), (7, 8, 9, 'g')]).toDF(['col1', 'col2', 'col3','col4'])

In [24]:
data.show()

+----+----+----+----+
|col1|col2|col3|col4|
+----+----+----+----+
|   1|   2|   3|   a|
|   4|   5|   6|   d|
|   7|   8|   9|   g|
+----+----+----+----+

In [29]:
data2 = spark.createDataFrame(
   
    [(1,'James', 90000,'HR'),
    (2,'Henry', 60000,'Data Engineering'),
    (3,'John', 100000,'Business Analyst'),
    (4,'Carlos', 120000,'BackEnd'),
    (5,'Allin', 45000,'Intern')],
 ['ID', 'Name', 'Salary', 'Department'])

In [30]:
data2.show()

+---+------+------+----------------+
| ID|  Name|Salary|      Department|
+---+------+------+----------------+
|  1| James| 90000|              HR|
|  2| Henry| 60000|Data Engineering|
|  3|  John|100000|Business Analyst|
|  4|Carlos|120000|         BackEnd|
|  5| Allin| 45000|          Intern|
+---+------+------+----------------+